* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #FCD19A;
    font-family: Helvetica, Arial, sans-serif;
     
}

/* HEADER SECTION */

header {
    padding: 20px 35px;
    background-color:#D4C3DA;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px; 
    color: #000000;
    margin: 0 auto;
}

/* NAVIGATION */

nav {
    background-color: #BC85DF;
}

nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

section {
    padding: 30px;
}

section h2 {
    padding: 30px;
}

footer {
    padding: 20px 35px;
    background-color:#D4C3DA;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer section h2 {
    padding: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px #561A89;
}

.flex-links {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}

/* ABOUT ME */

.about-me {
    text-align: center;
}

.about-me p {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 700px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #D4C3DA;
    border: solid 5px #561A89 ;
}

/* MY SKILLS */

.my-skills {
    text-align: center;
}

.my-skills li {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 700px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #D4C3DA;
    border: solid #561A89;
}

/* PROJECTS */

.projects {
    text-align: center;
}

.projects div {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 30px;
    width: 700px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #D4C3DA;
    border: solid 5px #561A89 ;
}

/* FOOTER */

